.container {
    width: 94%;
    border: 1px solid var(--gray);
    border-radius: 10px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--purple);
    align-items: center;
    height: 40px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-inline: 10px;
}

.content {
    padding: 10px;
    height: calc(100% - 60px);
    overflow: scroll;
}

.title {
    color: var(--white);
    font-weight: 500;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.postInfo {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
}

.author {
    font-weight: 500;
}

.textContent {
    text-align: justify;
    line-break: anywhere;
}