.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    min-height: 100vh;
    background-color: var(--white);
    max-width: 600px;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--purple);
    height: 60px;
    max-width: 600px;
    width: 100vw;
}

.headerText {
    text-align: left;
    color: var(--white);
    font-weight: 500;

    width: 90%;
}

.makePostContainer {
    text-align: left;

    width: 94%;
    border: 1px solid var(--gray);
    border-radius: 10px;
    height: 250px;
    margin-block: 20px;
}

.makePost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.makePostTitle {
    font-weight: 600;
}

.button {
    text-align: right;
}