#root {
  margin: 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;

  --background-color: #dddddd;
  --white: white;
  --purple: #7695ec;
  --dark-purple: #6782ca;
  --gray: gray;
  --soft-gray: rgb(230, 230, 230);
}

@media(max-width:500px) {
  #root {
    display: block;
  }
}